@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial;
  text-decoration: none;
}

/* ======== NAVBAR ======== */
header {
  /* position: fixed; */
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 15px 15%;
  transition: all 0.5s ease;
  background: rgba(22, 29, 111, 1);
}

.logo img {
  width: 70px;
}

.user-icon {
  color: white;
  font-size: 40px;
}

.navbar {
  display: flex;
  list-style: none;
}

.navbar a {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  /* font-weight: 400; */
  line-height: 36px;
  align-items: center;
  text-align: center;
  margin: auto 50px;
  transition: all 0.3s ease;
}

.navbar a:hover {
  color: #b8b8b5;
  text-decoration: underline;
}

/* ========= Sub - Navbar ========= */
.sub-navbar {
  background: rgba(85, 103, 156, 1);
  height: 55px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 130px;
}

.sub-navbar a {
  color: white;
  font-size: 23px;
}

.sub-navbar a:hover {
  color: #b8b8b5;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

/* =========== Device Image =========== */
.versus {
  width: 100%;
  margin: 50px 0 30px 0;
}

.dev-img {
  margin: 80px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10%;
}

.dev-img img {
  width: 30vw;
}

.dev-img .dev-name h2 {
  justify-content: center;
  display: flex;
}

.horizontal-line-name {
  margin-top: 10px;
  width: 70%;
  height: 2px;
  background-color: black !important;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  right: -15%;
}

/* =========== SPECS ========== */
.specs {
  margin-bottom: 50px;
}

.specs h3 {
  font-size: 2rem;
  justify-content: center;
  display: flex;
  text-transform: uppercase;
  font-weight: 850;
  margin: 10px;
}

.specs-content {
  display: flex;
  justify-content: center;
  margin: 30px;
  font-size: 18px;
  font-weight: 400;
  align-items: center;
}

/* =========== Performance =========== */
.perfomance-bar {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: auto;
}

.perform {
  margin-bottom: 50px;
}

.perform h3 {
  font-size: 2rem;
  justify-content: center;
  display: flex;
  text-transform: uppercase;
  font-weight: 850;
  margin: 10px;
}

.perform-bar h1 {
  text-align: center;
}

.perform-bar h4 {
  margin: 5px;
}

.perform-bar {
  width: 400px;
  margin: 60px auto;
  height: fit-content;
  color: #000000;
  padding: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
}

.perform-bar li {
  margin: 20px 0;
  padding: 10px;
}

.bar {
  background: #dddddd;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.1);
}

.bar:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
  height: 20px;
  float: left;
}

.bar1 {
  width: 25%;
  animation: bar1 3s;
  background: linear-gradient(90deg, #3f58c4 0%, #1e2a5e 100%);
}

/* =========== REVIEW USER =========== */
h4 {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 30px;
  margin: 100px 0 30px 0;
}

.review-box-container,
.load {
  margin: auto;
  max-width: 1100px;
  justify-content: center;
}

.review-box-container .review-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: none;
}

.review-box-container .review-box:nth-child(1),
.review-box-container .review-box:nth-child(2) {
  display: inline-flex;
  justify-content: center;
}

.review-box {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile {
  display: flex;
  align-items: center;
}

.name-user {
  display: flex;
  flex-direction: column;
}

.name-user strong {
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.reviews {
  color: #f9d71c;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.comment {
  font-size: 0.9rem;
  color: #4b4b4b;
}

.review-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

.review-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 0;
}

.review {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-weight: 600;
  font-family: inherit;
  border: none;
  position: relative;
  padding: 10px;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.review::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(104, 104, 104);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.review:hover::before {
  width: 9em;
}

#load-more {
  margin-top: 20px;
  padding: 13px 30px;
  text-align: center;
  border: 1px solid #334;
  color: #334;
  font-size: 20px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 100px;
  font-weight: 600;
}

#load-more:hover {
  background-color: rgb(55, 55, 55);
  border-color: crimson;
  color: #fff;
  transition: all 0.5s ease;
}

/* ========= FOOTER ========= */
.footer {
  background: rgba(30, 42, 94, 1);
  display: flex;
  margin-top: 100px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-family: Poppins, sans-serif;
  color: #fff;
  text-align: center;
  justify-content: center;
  padding: 10px 70px 20px;
}

.footer-content {
  display: flex;
  width: 467px;
  max-width: 100%;
  align-items: center;
  gap: 15px 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-title {
  font-size: 35px;
  font-weight: 800;
  align-self: stretch;
  flex-grow: 1;
  width: 301px;
  margin: auto 0;
}
.italic-text {
  font-style: italic;
  font-weight: 100;
}

.footer-description {
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  align-self: stretch;
  margin: auto 0;
  color: #fff;
  padding: 0px 50px;
}

.social-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 40px;
  align-self: stretch;
  margin: auto 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
