@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial;
  text-decoration: none;
}

/* ======== NAVBAR ======== */
header {
  /* position: fixed; */
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 15px 15%;
  transition: all 0.5s ease;
  background-color: #55679c;
}

.logo img {
  width: 70px;
}

.user-icon {
  color: white;
  font-size: 40px;
}

.navbar {
  display: flex;
  list-style: none;
}

.navbar a {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  /* font-weight: 400; */
  line-height: 36px;
  align-items: center;
  text-align: center;
  margin: auto 50px;
  transition: all 0.3s ease;
}

.navbar a:hover {
  color: #b8b8b5;
  text-decoration: underline;
}

/* ========= Sub - Navbar ========= */
.sub-navbar {
  background-color: #1e2a5e;
  height: 55px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 130px;
}

.sub-navbar a {
  color: white;
  font-size: 23px;
}

.sub-navbar a:hover {
  color: #b8b8b5;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

/* =========== Device Image =========== */
.versus {
  width: 100%;
  margin: 50px 0 30px 0;
}

.dev-img {
  margin: 80px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10%;
}

.dev-img img {
  width: 30vw;
}

.dev-img .dev-name h2 {
  justify-content: center;
  display: flex;
}

.horizontal-line-name {
  margin-top: 10px;
  width: 70%;
  height: 2px;
  background-color: black !important;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  right: -15%;
}

/* =========== SPECS ========== */
.specs {
  margin-bottom: 50px;
}

.specs h3 {
  font-size: 2rem;
  justify-content: center;
  display: flex;
  text-transform: uppercase;
  font-weight: 850;
  margin: 10px;
}

.specs-content {
  display: flex;
  justify-content: center;
  margin: 30px;
  font-size: 18px;
  font-weight: 400;
  align-items: center;
}

/* =========== Performance =========== */
.perfomance-bar {
    list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: auto;
}

.perform {
  margin-bottom: 50px;
}

.perform h3 {
  font-size: 2rem;
  justify-content: center;
  display: flex;
  text-transform: uppercase;
  font-weight: 850;
  margin: 10px;
}

.perform-bar h1{
  text-align: center;
}

.perform-bar h4{
  margin: 5px;
}

.perform-bar{
  width: 400px;
  margin: 60px auto;
  height: fit-content;
  color: #000000;
  padding: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 20px;
}

.perform-bar li{
  margin: 20px 0;
  padding: 10px;
}

.bar{
  background: #dddddd;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,.1);
}

.bar:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span{
  height: 20px;
  float: left;
}

.bar1{
  width: 25%;
  animation: bar1 3s;
  background: linear-gradient(90deg, #3F58C4 0%, #1E2A5E 100%);
}