* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
html, body{
  height: 100%;
  padding: 0;
  margin: 0;
}

.login-container { 
  background-color: #161d6f; 
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.login-content { 
  display: flex;
  /* gap: 11px; */
  height: 100vh;
}

.logo-column { 
  display: flex; 
  flex-direction: column; 
  width: 50%; 
}
.logo-wrapper { 
  position: relative; 
  flex-grow: 1; 
  color: #1e2a5e; 
  padding: 80px 65px; 
  font: 800 96px Poppins, sans-serif; 
}


.logo-text {
  font-size: 70px;
  position: relative;
  text-align: center;
}
.gauge { 
  color: #1e2a5e;
  font-weight: 500;
  letter-spacing: -2px;
  font-style: italic;
}

.background-image { 
  position: absolute;
  inset: 0; 
  height: 100%;
  width: 100%; 
  object-fit: cover; 
  object-position: center; 
  /* background-attachment: scroll;   */
}

.form-column { 
  display: flex;
  flex-direction: column; 
  width: 50%;
  height: 100vh;
}
.login-form { 
  background-color: #161d6f; 
  display: flex; 
  width: 100%;
  flex-direction: column; 
  align-items: center; 
  color: #fff; 
  margin: 0 auto; 
  padding: 15px 43px 65px; 
  font: 400 35px Poppins, sans-serif;
}
.login-title { 
  font-size: 30px;
  align-self: center;
  font-weight: 50; 
  color: #ffffff;
  margin-bottom: 40px;
}

.form-column form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}
form .input-field{
  width: 400px;
  height: 45px;
  outline: none;
  border: none;
  padding: 0 15px;
  font-size: 22px;
  justify-content: center;
  font-weight: 400;
  color: #333333;
  border-radius: 17px;
}
.input-field{
  text-align: center;
  letter-spacing: 2px;
}

.input-field:focus {
  color: #333333;
}

.login-button { 
  border-radius: 20px; 
  background-color: #55679c; 
  width: 400px; 
  max-width: 100%; 
  font-size: 25px; 
  color: rgb(243, 243, 243);
  padding: 15px 70px; 
  border: none; 
  cursor: pointer; 
  margin-top: 25px;
}
.login-button:hover{
  transition: all .2s ease-in;
  background-color: #556eea;
}
.login-button:active{
  transition: all .2s ease-out;
  background-color: #1a3676;
}

.signup-text { 
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); 
  align-self: stretch; 
  margin: 0 auto;
  letter-spacing: 1px;
  font: 18px Inter, sans-serif; 
}
#sign-up-text:hover{
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); 
  text-decoration: underline;  
}

.divider { 
  align-self: stretch; 
  display: flex; 
  margin: 20px auto ;
  align-items: center; 
  gap: 20px; 
  font: 20px Inter, sans-serif; 
}
.divider-line { 
  align-self: stretch; 
  width: 170px; 
  height: 1px; 
  margin: auto 0; 
  border: 1px solid #fff; 
}
/* #g_id_onload { 
  border-radius: 17px; 
  background-color: #fff; 
  display: flex;
  margin-top: 10px; 
  width: 449px; 
  max-width: 100%; 
  align-items: center; 
  color: #777; 
  padding: 9px 29px;
  cursor: pointer;
}
.google-icon { 
  aspect-ratio: 1; 
  object-fit: contain; 
  object-position: center; 
  width: 31px;
}
.google-signup { 
  flex-grow: 1; 
  text-align: center;
  font-size: 30px;
  cursor: pointer; 
  border: none; 
  color: #777;
} */